<header class="video-header">
    <video
        autoplay
        playsinline
        muted
        loop
        id="myVideo"
    >
        <source src="/assets/video/background_video2.mp4" type="video/mp4">
    </video>
    <app-navigation></app-navigation>
    <div class="aboutHero viewport-header d-flex flex-column justify-content-center align-items-center text-center">
        <a routerLink="/" class="logo">
            <img class="logo" src="assets/img/logo1.png" alt="Logo">
        </a>
        <h1>
            Life is hard
            <br>
            And so is
            <br>
            Wood.
        </h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="row firstContainer my-5">
            <div class="firstContainerImg col-12 col-lg-5 mx-0 px-0">
                <img src="https://images.pexels.com/photos/6790073/pexels-photo-6790073.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="working">
            </div>
            <div class="col-12 col-lg-7 d-flex flex-column justify-content-center mx-0 pt-3 ps-lg-5 pe-lg-0 pt-lg-0">
                <h3>Who we are</h3>
                <p>Hi we’re Darnell and Jasmin (brother & sister), and our story begins in a rough section of West Baltimore. We grew up in one of the toughest and most poverty stricken environments in America, the Harlem Park section of Baltimore. Despite the challenges, today, we are the proud owners of Harlem Park Woodworks. A black owned, family business dedicated to producing superb woodworks for our clients and local community.</p>
            </div>
        </div>
        <div class="row secondContainer my-5">
            <div class="col-12 col-lg-7 mx-0 d-flex flex-column justify-content-center ps-lg-0 pe-lg-5">
                <h3>Our Story</h3>
                <p>The home in which we grew up was wedged between a line of derelict properties used by street gangs, and drug addicts. As most of the homes in our neighborhood were abandoned or in a dilapidated state, it was in this environment that our interest in building and restoring was developed. Like most kids in our neighborhood, we would regularly enter and play inside of the vacant rundown properties. Oftentimes, finding and salvaging wood, furniture pieces and other materials which we would then use to create makeshift furniture and other useful home products. With limited resources in our immediate surroundings, the public school system was one of the few institutions to offer opportunity to the local youths. While attending high school, we enrolled in the city of Baltimore’s woodshop program for youths. This was the start of our formal training in woodwork, which lasted over the duration of high school.</p>
                <p>After graduating, we earned an apprenticeship with a local business where we had the opportunity to fine tune our woodworking skills. At the end of the apprenticeship we both came to the conclusion that we wanted to take our skills and open our own local, black-owned woodshop in Harlem Park. The goal being to give back and empower the people in our community through charitable restoration projects, youth training, jobs and exquisite woodwork. We are passionate about woodwork and creating gorgeous products for our clients and community.</p>
            </div>
            <div class="secondContainerImg col-12 col-lg-5 mx-0 px-0">
                <img src="https://images.unsplash.com/photo-1565543689462-eca62c83bd55?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3150&q=80" alt="neighborhood">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 col-md-4 mx-0 py-3 ps-lg-0 pe-lg-5 text-center">
                <h3>Vision</h3>
                <p>The vision of Harlem Park Woodworks is to provide superior service and workmanship to our local clientele while at the same time fulfilling our social obligation of community empowerment.</p>
            </div>
            <div class="col-12 col-md-4 mx-0 py-3 ps-lg-5 pe-lg-5 text-center">
                <h3>Mission</h3>
                <p>The Harlem Park Woodworks’ mission is to be an influential voice and example in the community of socially conscious entrepreneurship and excellence.</p>
            </div>
            <div class="col-12 col-md-4 mx-0 py-3 ps-lg-5 pe-lg-0 text-center">
                <h3>Values</h3>
                <p>There is no greater value than investing in one’s community. At Harlem Park Woodworks, we are committed to giving back and improving our neighborhoods through our social outreach programs. These programs are dedicated to imparting practical skills and knowledge on to the local youth and complimentary works for the restoration of neglected homes and buildings.</p>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
