/* You can add global styles to this file, and also import other style files */
// Colors

/* SCSS HEX */
$cultured: #f3f2f0ff;
$khaki-web: #c2b4a1ff;
$harvest-gold: #d99304ff;
$gray-web: #737e81ff;
$dark-sienna: #3d1f1cff;

/* SCSS HSL */
$cultured: hsla(40, 11%, 95%, 1);
$khaki-web: hsla(35, 21%, 70%, 1);
$harvest-gold: hsla(40, 96%, 43%, 1);
$gray-web: hsla(193, 6%, 48%, 1);
$dark-sienna: hsla(5, 37%, 17%, 1);

/* SCSS RGB */
$cultured: rgba(243, 242, 240, 1);
$khaki-web: rgba(194, 180, 161, 1);
$harvest-gold: rgba(217, 147, 4, 1);
$gray-web: rgba(115, 126, 129, 1);
$dark-sienna: rgba(61, 31, 28, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-right: linear-gradient(90deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-bottom: linear-gradient(180deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-left: linear-gradient(270deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-top-right: linear-gradient(45deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-bottom-right: linear-gradient(135deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-top-left: linear-gradient(225deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-bottom-left: linear-gradient(315deg, #f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);
$gradient-radial: radial-gradient(#f3f2f0ff, #c2b4a1ff, #d99304ff, #737e81ff, #3d1f1cff);

// Font imports

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rock+Salt&family=Special+Elite&display=swap');


//  * {
//      border: black solid 0.5px;
// }

body {
    background-color: $cultured;
}

main {
    background-color: $cultured;
}

footer {
    background-color: $cultured;
}